.login-section {
    background-image: url(./../../assets/login-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}