.login-register-section {
    background-image: url(./../../assets/login-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

@media (min-width: 768px) {
    .login-register-section {
        background-image: url(./../../assets/login-1.webp);
        background-position-y: top;
        height: auto;
    }
}

@media (min-width: 992px) {
    .login-register-section {
        background-image: url(./../../assets/login-1.webp);
        background-position-y: center;
    }
}